<!-- THIS IS A TEMPLATE HTML PAGE FOR ALL WEBPAGES! COPY/PASTE THIS FOR ALL FUTURE PAGES! -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<!-- CSS STYLESHEET -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
		<!-- JAVASCRIPT (NAVBAR NEEDS THIS!) -->
		<script th:href="@{/js/bootstrap.js}"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<title>CCSCC: Admin Mode</title>
	</head>
	
	<body>
		<!-- Navigation bar (stored externally in Navbar.html) -->
		<div th:insert="Navbar :: navbar"></div> 
		<!-- DONT DELETE -->
		
		<!-- Add content here: -->
	<br>
	<br>
	<div class="container">
	<table class="table">
	<tr>
	<th> ID </th>
	<th> First Name </th>
	<th> Last Name </th>
	<th> Email </th>
	<th> Waiver Signed? </th>

	</tr>
	
	<tr th:each="user: ${user}">
	<td th:text="${user.id}"/>
	<td th:text="${user.firstName}"/>
	<td th:text="${user.lastName}"/>
	<td th:text="${user.email}"/>
	<td th:text="${user.isSigned}"/>
	<td> <a class="btn btn-primary" th:href="@{/changeRole/{id} (id = ${user.id})}" role="button">Change Role</a> </td>
	</tr>
	
	</table>
	<br>
	<form method="get" th:action="@{/addUser}">
	<input type="submit" value="Add a user" class="btn btn-success"/>
	</form>
	<br>
	<form method="get" th:action="@{/deleteUser}">
    <input type="submit" value="Remove a user" class="btn btn-danger"/>
    </form>
	</div>
		
	</body>
</html>