<!-- THIS IS A TEMPLATE HTML PAGE FOR ALL WEBPAGES! COPY/PASTE THIS FOR ALL FUTURE PAGES! -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<!-- CSS STYLESHEET -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
		<!-- JAVASCRIPT (NAVBAR NEEDS THIS!) -->
		<script th:href="@{/js/bootstrap.js}"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<title>CCSCC: Remove vehicle</title>
	</head>
	
	<body>
		<!-- Navigation bar (stored externally in Navbar.html) -->
		<div th:insert="Navbar :: navbar"></div> 
		<!-- DONT DELETE -->
		
		<!-- Add content here: -->
		<div class="container"><br>
	
			<h2>delete a vehicle:</h2>
			<br>
			
				<table class="table">
				<tr>
				<th> Vehicle #  </th>
				<th> Make  </th>
				<th> Model </th>
				<th> Year  </th>
				<th> License </th>
				<th> Class </th>
				</tr>
				
				<ul th:each="car : ${myGarage}">
					<tr>
						<td><p th:text="${user.findCar(car)}"/></td>
						<td><p th:text="${car.getMake()}"/></td> 
						<td><p th:text="${car.getModel()}"/></td>
						<td><p th:text="${car.getYear()}"/></td>
						<td><p th:text="${car.getLicensePlateNum()}"/></td>
						<td><p th:text="${car.getVehicleClass()}"/></td>
					</tr>
				</ul>
			</table> 
			
			<p>Select a vehicle by typing its vehicle number & submitting</p>
			
			<form th:action="@{/deleteCar}" method="post">
					
				<div class="form-group"> 
					<input type="number" class="form-control" id="index" name="index" placeholder="Vehicle #" autofocus="autofocus"/>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-danger">Delete vehicle</button>
				</div>
			</form>
			</div>
	</body>
</html>