<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>CCSCC Car Inspection and Waiver App</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<!-- import navigation bar (header) new!! andrij -->
	<div th:insert="Navbar :: navbar">  </div> 
	
	<br>
	<br>

	<div class="container">

	<h2>Welcome back <span th:text="${user.getFirstName()}">default</span>!</h2>
	<img th:src="${photo}" style="width:10em; height: 10em;">
	<br>
		
	</div>
</body>
</html>

<!-- Dont forget to attribute owner of icon! -->
<!-- https://www.flaticon.com/free-icon/racer_2380484?term=racer&page=1&position=1&related_item_id=2380484 -->