<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CCSCC: Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Champaign County Sports Car Club</h1>
	<form method="get" action="/login">
		<button class="button">Login</button>
	</form>
	<form method="get" action="/signup">
		<button class="button">Sign up</button>
	</form>
	<form method="get" action="/members">
		<button class="button">Members</button>
	</form>
		<form method="get" action="/waiver">
		 <input type="submit" value="Waiver" />
	</form>
</body>
</html>