<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CCSCC: Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Driver Sign up</h1>
    <form action="#" th:action="@{/signup}" th:object="${signupDriver}" method="post">
    		<p>First name: <input type="text" th:field="*{firstName}" /></p>
    		<p>Last name: <input type="text" th:field="*{lastName}" /></p>
        <p>Birthday: <input type="text" th:field="*{birthday}" /></p>
        <p>Phone#: <input type="text" th:field="*{phoneNumber}" /></p>
        <p>Email: <input type="text" th:field="*{email}" /></p>
        <p>User name: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>