<!-- THIS IS A TEMPLATE HTML PAGE FOR ALL WEBPAGES! COPY/PASTE THIS FOR ALL FUTURE PAGES! -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<!-- CSS STYLESHEET -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
		<!-- JAVASCRIPT (NAVBAR NEEDS THIS!) -->
		<script th:href="@{/js/bootstrap.js}"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<title>TITLE FOR SPECIFIC WEBPAGE</title>
	</head>
	
	<body>
		<!-- Navigation bar (stored externally in Navbar.html) -->
		<div th:insert="Navbar :: navbar"></div> 
		<!-- DONT DELETE -->
		
		<!-- Add content here: -->
<div class="container">

<h1>2020 CCSCC Tech Inspection Checklist</h1>
<!-- INSPECTION CHECKLIST -->
<hr>
<form method="post" th:action="@{/techInspection}">
 <div id="container">
  <h2> Exterior </h2>
  
 <p>
 <input type="checkbox" id="playInWheelBearings" name="playInWheelBearings"  class="form-check-input"> 
 No Play In Wheel Bearings (Grab tires and wiggle them hard) <br>
 <input type="checkbox" id="wheelsAreTight" name="wheelsAreTight"  class="form-check-input">
Wheels are tight and have no visible cracks <br>
<input type="checkbox" id="hubcapsRemoved" name="hubcapsRemoved" th:checked="hubcapsRemoved" class="form-check-input">
Hubcaps or center caps removed or firmly secured by lug nuts (if applicable)<br>
<input type="checkbox" id="tiresInGoodCondition" name="tiresInGoodCondition" class="form-check-input">
Tires must be in good condition with no cords/belts showing or cracks.<br>
<input type="checkbox" id="tireTreadDepth" name="tireTreadDepth" class="form-check-input">
Tire tread depth (as appropriate)<br>
<input type="checkbox" id="brakePadsGoodCondition" name="brakePadsGoodCondition" class="form-check-input">
Brake pads/rotors in good condition<br>
<input type="checkbox" id="looseBodyPanels" name="looseBodyPanels" class="form-check-input">
No loose body panels.<br>
<input type="checkbox" id="numbersOnAndVisible" name="numbersOnAndVisible" class="form-check-input">
Numbers on & clearly visible on body (no blue tape on a blue car & not window)</p>
</div>


 <div id="container">
  <h2> Interior </h2>
  <p>
 <input type="checkbox" id="looseItemsRemoved" name ="looseItemsRemoved" class="form-check-input">
Floor mats and all other loose items removed from car
 <br>
<input type="checkbox" id="pedalsSecure" name="pedalsSecure" class="form-check-input">
Brake, throttle, and clutch (if applicable) pedals secure
 <br>
<input type="checkbox" id="firmBreakPedal" name="firmBreakPedal" class="form-check-input">
Firm brake pedal
 <br>
<input type="checkbox" id="noPlayInSteering" name="noPlayInSteering" class="form-check-input">
No excessive play in the steering
 <br>
 <input type="checkbox" id="noPlayInSelector" name="noPlayInSelector" class="form-check-input">
No excessive play in gear selector
 <br>
 <input type="checkbox" id="seatInOrder" name="seatInOrder" class="form-check-input"> 
Seat in functional order
<br>
<input type="checkbox" id="seatBelt" name="seatBelt" class="form-check-input"> 
Seat Belt proper for year of car and class
<br>
<input type="checkbox" id="gearMounted" name="gearMounted" class="form-check-input">
Cameras, phones, and other gear mounted to car
 <br>
</p>
</div>



<div id="container">
  <h2>Under the Hood and Trunk </h2>
  <p>
  <input type="checkbox" id="batterySecure" name="batterySecure" class="form-check-input">
Battery and connections secure
 <br>
 <input type="checkbox" id="airIntakeSecure" name="airIntakeSecure" class="form-check-input">
Air intake or air box secure
 <br>
 <input type="checkbox" id="throttleCableSecure" name="throttleCableSecure" class="form-check-input"> 
Throttle cable secure (if applicable)
<br>
<input type="checkbox" id="fluidCapsSecure" name="fluidCapsSecure" class="form-check-input">
All fluid caps secure
 <br>
 <input type="checkbox" id="noMajorLeaks" name="noMajorLeaks" class="form-check-input"> 
No major leaks apparent
<br>
<input type="checkbox" id="trunkEmpty" name="trunkEmpty" class="form-check-input"> 
Trunk is empty of items that move around
<br>
<input type="checkbox" id="functionalExaust"  name="functionalExaust" class="form-check-input"> 
Functional exhaust system thats not excessively loud and exit behind driver
</p>
<div class="container">
<h2>Inspectors Notes:</h2>
<textarea id="inspectorsNotes" name="inspectorsNotes" rows="5" cols="50" placeholder="Any other notes to leave about the car"></textarea>
</div>
<input type="submit" class="btn btn-success">
</div>
</form>
</div>	
</body>
</html>