<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<script th:href="@{/js/bootstrap.js}"></script><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>CCSCC: Waiver</title>
</head>
<body>

<!-- import navigation bar (header) new!! andrij -->
	<div th:insert="Navbar :: navbar">  </div> 

	<div class = "container">
		<div class = "row">
			<div>
			<br>
			<br>
			<br>
			<br>
			
			<!-- Waiver Text Start -->	
			<h1> ANNUAL RELEASE AND WAIVER OF LIABILITY,<br> ASSUMPTION OF RISK, AND INDEMNITY AGREEMENT </h1>
			<h2 style="color: red;">A NEWLY EXECUTED WAIVER IS REQUIRED EVERY 12 MONTHS </h2>
			<h3>
			IN CONSIDERATION of my being permitted in RACING PROGRAMS to enter, for any purposes, the RESTRICTED AREA (herein
defined as, including but not limited to the racing surface, pit areas, infield, burn-out area, approach area, shut down area,
and all walkways, concessions, and Other appurtenant areas where any activity related to the event shall take place or
where special authorization. permission, Or credentials are required, or where admittance to the general public is restricted
Or prohibited), or to compete, Officiate, observe, work for, or for anv purpose participate in the event in any way, I agree: <br> <br>
1. I AM AWARE OF THE NATURE of the EVENT(S) and my experience and capabilities, and believe myself to be qualified
to participate in the Event(s). I will inspect the premises, facilities, and equipment to be used, or with which I may
come in contact, AND IF I BELIEVE ANYTHING IS UNSAFE, WILL IMMEDIATELY LEAVE THE RESTRICTED AREA AND
REFUSE TO PARTICIPATE FURTHER IN THE EVENT(S). <br> <br>
2. I FULLY UNDERSTAND THAT: (a) THE ACTIVITIES OF THE EVENT(s) ARE VERY DANGEROUS and participation in the
Event(s) and/or entry into Restricted Areas involve RISKS AND DANGERS OF SERIOUS BODILY INJURY, INCLUDING
PERMANENT DISABILITY, PARALYSIS, AND DEATH ("Risks"); (b) these Risks and dangers may be caused by my own
actions or inactions, the actions or inactions of others participating in the Event(s), the rules of the Event(s), the
condition and layout Of the premises and equipment, or THE NEGLIGENCE OF THE "RELEASEES" NAMED BELOW; (c)
there may be OTHER RISKS NOT KNOWN TO ME or that are not readily foreseeable at this time; (d) THE SOCIAL AND
ECONOMIC LOSSES and/or damages that could result from the Risks COULD BE SEVERE AND COULD PERMANENTLY
CHANGE MY FUTURE. <br> <br>
3. HEREBY ACCEPT AND ASSUME ALL SUCH RISKS KNOWN AND UNKNOWN AND ASSUME ALL RESPONSIBILITY FOR THE
LOSSES. COSTS, AND/OR DAMAGES INCURRED FROM SUCH INJURY, DISABILITY, PARALYSIS, OR DEATH, EVEN IF CAUSED
IN WHOLE OR IN PART ay THE NEGLIGENCE OF THE "RELEASES' NAMED BELOW. <br> <br>
4. 1 HEREBY RELEASE, DISCHARGE, AND COVENANT NOT TO SUE the promoters, participants, racing associations,
sanctioning organizations Or any subdivision thereof, track Operators, track Owners, officials, car owners, drivers, pit
Crews, rescue personnel, any persons in any Restricted Area, sponsors, advertisers, owners and lessees Of PREMISES
on which the Event is conducted, premises inspectors Or Event inspectors, surveyors, underwriters, consultants, and
other persons Or entities Who give recommendations, directions, instructions, or engage in risk evaluation or loss
control activities regarding the premises or EVENT(S), and each of them, their officers, directors, agents, and
employees, all for the purposes herein referred to as "RELEASEES," FROM ALL LIABILITY TO ME, mv personal
representatives, assigns, heirs, and next of kin FOR ANY AND ALL CLAIMS, DEMANDS, LOSSES OR DAMAGES INCURRED
FROM ANY INJURY, includin% but not limited to, death or damage to property, CAUSED OR ALLEGED TO BE CAUSED IN
WHOLE OR IN PART BY THE NEGLIGENCE OF THE "RELEASEES" OR OTHERWISE. <br> <br>
5. If, despite this release, I, Or anyone on my behalf, makes a claim against any Of the RELEASEES named above, I AGREE
TO INDEMNIFY AND SAVE AND HOLD HARMLESS the RELEASEES and each Of them from any litigation expense, attorney
fees, loss, liability, damage, or cost they may incur due to the claim made against any of the RELEASEES named above,
Whether the claim is based on the negligence Of the RELEASEES or otherwise.<br> <br>
I HAVE READ THIS RELEASE AND WAIVER OF LIABILITY, ASSUMPTION OF RISK, AND INDEMNITY AGREEMENT, AND FULLY
UNDERSTAND THAT BY SIGNING IT GIVE up SUBSTANTIAL RIGHTS WOULD OTHERWISE HAVE TO RECOVER DAMAGES
FOR LOSSES OCCASIONED THE RELEASEES NEGLIGENCE, AND SIGN IT VOLUNTARILY AND WITHOUT ANY INDUCEMENT
OF ANY NATURE AND INTEND FOR IT TO BE ENFORCED TO THE GREATEST EXTENT ALLOWED BY LAW.<h3>
<!-- Waiver Text End -->				
				
				
<hr style="height:2px;border-width:0;color:gray;background-color:gray">				
<form method="post" th:action="@{/waiver}" style="display: flex; justify-content: center; align-items: center;">
<p>
<h4 Style= "margin-right: 10px;">By checking this box you agree to the terms and conditions  </h4>
<input type="checkbox" id="waiverVerify" name="waiverVerify"  th:checked="${waiverVerify}" Style= "margin-right: 10px;"></p>
<div style="  display: flex; justify-content: center; align-items: center;">
<input type="submit" id="waiverSubmit" >
 </div>				
			</div>
		</div>
	</div>
	
	
</body>
</html>
